 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Sans-serif", Arial;
    
    
 }

 .header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    color: white;
    align-items: center;
    padding-left: 68px;
    padding-right: 68px;
    
 }

 a {
    text-decoration: none;
    color: white;
 }

 li {
    list-style: none;
 }

 ul {
    display: flex;
    gap: 8px;
 }

 
 
 .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    
     
 }

 .section1 {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    
    
 }

 .section1, .section2, .section3, .section4 {
    
    flex:1;
    
   
 }
 
 .text, .img {
    width: 400px;
 }

 .img {
    text-align: center;
    background: gray;
    padding-top: 60px;
    padding-bottom: 60px;
 }
.section2 {
    display: flex;
    flex-direction: column;
}
 

 .header3 {
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
 }

 .illustration {
    display: flex;
    justify-content: center;
    gap: 16px;
 }

 .box {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
     border-radius: 15px;
 }
 
 .item {
   
    width: 100px;
    
 }

 .section3 {
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    align-items: center; 
     
 }

 .sig {
    text-align: right;
    font-weight: 700;
 }

 .section4 {
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882f6;
    padding: 20px 50px;
    gap: 16px;
    color: white;
    
 }

 .footer {
    background: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }

 .quotebox {
    width: 400px;

 }

 .subtext {
    font-size: 12px;
 }
 
 .header2 {
    font-size: 24px;
    font-weight: 900;
    
 }

 button {
    background: #3882f6;
    color: white;
    border-radius: 5px;
    
 }

 .text button {
    border: 1px solid #3882f6;;
 }

 .quote {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 8px;
    
 }

 .item .subtext {
    text-align: center;
 } 

.container button {
    border: 1px solid white;
}