 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 .header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    color: white;
    align-items: center;
    padding-left: 68px;
    padding-right: 68px;
    
 }

 a {
    text-decoration: none;
    color: white;
 }

 li {
    list-style: none;
 }

 ul {
    display: flex;
    gap: 8px;
 }

 .right-links
 {
    
 }
 
 .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
     
 }

 .section1 {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    
 }

 .section1, .section2, .section3, .section4 {
    flex:1;
    
   
 }
 
 .text, .img {
    width: 400px;
 }

 .img {
    text-align: center;
    background: gray;
    padding-top: 60px;
    padding-bottom: 60px;
 }

 .header3 {
    text-align: center;
    padding: 20px;
 }

 .illustration {
    display: flex;
    justify-content: center;
    gap: 16px;
 }

 .box {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
 }
 
 .item {

    width: 100px;
    
 }

 .section3 {
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;    
 }

 .sig {
    text-align: right;
 }

 .section4 {
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882f6;
    padding: 20px 50px;
    gap: 16px;
    
 }

 .footer {
    background: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }